.pg-viewer-wrapper {
  overflow-y: hidden !important;
  width: 580px;
  max-width: 580px;
  margin: 0px;
  padding: 0px;
}

.photo-viewer-container {
  min-width: 580px;
  max-width: 580px;
  margin: 0px;
  padding: 0px;
}

.pg-viewer {
  min-width: 580px;
  max-width: 580px;
  margin: 0px;
  padding: 0px;
}

.pg-viewer * {
  width: 580px !important;
  padding: 0px;
  margin: 0px;
}
